* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

body {
  padding: 1rem;
}

.light-theme {
  background-color: white;
  color: black;
}

.light-theme #theme-button > .light-mode-icon {
  display: none;
}

.light-theme canvas {
  border-color: black;
}

.dark-theme {
  background-color: hsl(253, 100%, 8%);
  color: white;
}

.dark-theme #theme-button > .dark-mode-icon {
  display: none;
}

.dark-theme canvas {
  border-color: white;
}

#theme-button {
  all: unset;
  padding: .35rem;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
}

#theme-button:hover {
  background-color: hsl(0, 0%, 70%);
}

.theme-icon {
  display: block;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-ribbon {
  gap: .7rem;
  margin: 1rem 0;
  text-align: center;
}

.start-button {
  all: unset;
  padding: .5rem .7em;
  border-radius: .5rem;
  text-align: center;
  background-color: #00a300;
  color: white;
  cursor: pointer;
}

.start-button:hover {
  background-color: hsl(120, 100%, 40%);
}

.screen-container {
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

canvas {
  image-rendering: pixelated;
  width: 100%;
  height: auto;
  border-width: 2px;
  border-style: solid;
}

@media screen and (min-width: 890px) {
  canvas {
    width: auto;
    height: 100%;
  }
}
