@font-face {
  font-family: 'Jersey 10';
  src: url('./assets/fonts/Jersey10-Regular.ttf');
}

:root {
  --bg-color: white;
  --color: black;

  --theme-button-hover: hsl(0, 0%, 70%);

  --primary-color: #06b100ff;
  --button-active: hsl(118, 100%, 30%);
  --button-hover: hsl(118, 100%, 38%);
}

:root.dark-theme {
  --bg-color: hsl(250, 100%, 6%);
  --color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Jersey 10', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
}

html, body {
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--color);
}

.theme-button {
  all: unset;
  padding: .35rem;
  border-radius: 100%;
  line-height: 0;
  cursor: pointer;

  @media (pointer: fine) {
    &:hover {
      background-color: var(--theme-button-hover);
    }
  }
}

.icon-wrapper {
  display: block;
}

.light-theme .light-mode-icon {
  display: none;
}

.dark-theme .dark-mode-icon {
  display: none;
}

header, div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  gap: .7rem;
}

.title > h1 {
  font-size: min(3rem, 11vw);
  letter-spacing: .1rem;
  color: var(--primary-color);
}

.snake-image {
  width: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.game-ribbon {
  gap: .7rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .game-ribbon {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
}

.score-container {
  flex-direction: column;
  gap: .5rem;
}

.score-box {
  justify-content: center;
  width: min(10rem, 30vw);
  padding: .9rem .7rem;
  border-width: 2px;
  border-style: solid;
  border-radius: .5rem;
}

.score-box output {
  font-size: min(1.7rem, 5vw);
}

.start-button {
  all: unset;
  padding: .5rem .7em;
  border-radius: .5rem;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color .2s;

  &:active {
    background-color: var(--button-active) !important;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: var(--button-hover);
    }
  }
}

.screen-container {
  justify-content: center;
  align-items: flex-start;
}

canvas {
  image-rendering: pixelated;
  border-width: 2px;
  border-style: solid;
}
